*.mp4 filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0668.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0680.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0672.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0604.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0617.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0618.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0666.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0667.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0669.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0674.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0611.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0620.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0621.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0662.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0670.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0678.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0612.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0616.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0673.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0676.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0679.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0671.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0615.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0663.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0605.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0608.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0619.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0660.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0675.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0603.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0607.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0665.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0677.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0681.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0606.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0661.png filter=lfs diff=lfs merge=lfs -text
images/dads[[:space:]]bday[[:space:]]photos/IMG_0664.png filter=lfs diff=lfs merge=lfs -text
